## Develop API(APPLICATION PROGRAMMING INTERFACE) functions

#### Import needed libraries

In [1]:
import pandas as pd
import numpy as np
import json
import unicodedata

#### Load dataset after ETL is done

In [64]:
df=pd.read_csv("Dataset_API/dataset_function_API.csv")

### API-Function_1

### The month is entered and the function returns the number of movies that were released that month

In [40]:
df.release_date = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')## Convert datatype release_date to datetime
meses = df.release_date.dt.month## get month number from release_date
mex = pd.DataFrame(meses.value_counts())## making a dataset of value count for each month
mex.reset_index(inplace=True)## reset index
mex.rename(columns={"index":"mes","release_date":"cantidad"},inplace=True)## rename columns to idenfity month and amount
mex.to_csv("Dataset_API/API1.csv",index=False)## Export dataset for API function 1

In [41]:
aer=pd.read_csv("Dataset_API/API1.csv")## Dataset API function 1 review
aer

    mes  cantidad
0     1      5913
1     9      4839
2    10      4615
3    12      3786
4    11      3661
5     3      3553
6     4      3453
7     8      3395
8     5      3339
9     6      3153
10    2      3032
11    7      2640

In [17]:
def peliculas_mes(mes):## API function 1
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    if isinstance(mes,str):## parameter condition string
        mes=mes.lower()## parameter string to lower
        mes=unicodedata.normalize ('NFKD', mes).encode ('ascii', 'ignore').decode ('utf-8', 'ignore')## Filter accent mark
        m = {
            'enero': 1,
            'febrero': 2,
            'marzo': 3,
            'abril': 4,
            'mayo': 5,
            'junio': 6,
            'julio': 7,
            'agosto': 8,
            'septiembre': 9,
            'octubre': 10,
            'noviembre': 11,
            'diciembre': 12
            }## Dictionary of months
        if mes in m: ## condition if parameter is in dictionary
            m1=m[mes]
        else:
            m1=""

        jum = aer[aer["mes"] == m1] ## filter dataset with the parameter

        if jum.empty==True: ## condition if dataset is empty
            respuesta="No Data Avaliable"
        else:
            respuesta = jum.cantidad.iloc[0]
       
        return {'mes': mes, 'cantidad': respuesta}

In [18]:
peliculas_mes("enero")## testing functionality with an argument

{'mes': 'enero', 'cantidad': 5913}

### API function 2

#### The day is entered and the function returns the number of movies that were released that day of the week

In [27]:
dias = df.release_date.dt.dayofweek##get day of week number
dias = pd.DataFrame(dias.value_counts())## making a dataset of value count for each day
dias.reset_index(inplace=True)## reset the index
dias.rename(columns={"index": "dia", "release_date": "cantidad"}, inplace=True)## rename columns to identify days and amount
dias.to_csv("Dataset_API/API2.csv",index=False)##Export dataset for API function 2

In [28]:
days=pd.read_csv("Dataset_API/API2.csv")## Dataset API function 2 review
days

   dia  cantidad
0    4     13908
1    3      7525
2    2      7037
3    5      5152
4    1      4641
5    6      3613
6    0      3503

In [22]:
def peliculas_dia(dia):##API function 2
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente'''
    if isinstance(dia,str):## parameter condition string
        dia=dia.lower()##parameter string to lower
        dia=unicodedata.normalize ('NFKD', dia).encode ('ascii', 'ignore').decode ('utf-8', 'ignore')## filter accent mark
        d = {
            'lunes': 0,
            'martes': 1,
            'miercoles': 2,
            'jueves': 3,
            'viernes': 4,
            'sabado': 5,
            'domingo': 6
            }##Dictionary of days
        
        if dia in d:## condition if parameter is in dictionary
            d1=d[dia]
        else:
            d1=""
            
        jum = dias[dias["dia"] == d1]## filter dataset with the parameter
        
        if jum.empty==True:## condition if dataset is empty
            respuesta= "No data available"
        else:
            respuesta = jum.cantidad.astype(float).iloc[0]
    return {'dia': dia, 'cantidad': respuesta}

In [23]:
peliculas_dia("lunés")## testing functionality with an argument

{'dia': 'lunes', 'cantidad': 3503.0}

### API function 3

#### The franchise is entered, returning the number of movies, total and average profit

In [42]:
franquicia1=df[["belongs_to_collection","title","revenue"]]## Getting a new dataset only with needed columns
franquicia1.belongs_to_collection = franquicia1.belongs_to_collection.str.lower()## Normalize the string to lower case
franquicia1.dropna(subset=["belongs_to_collection"],inplace=True)##Remove empty rows
franquicia1.to_csv("Dataset_API/API3.csv",index=False)##Export the dataset for API function 3

C:\Users\angeo\AppData\Local\Temp\ipykernel_12296\1971071609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  franquicia1.belongs_to_collection = franquicia1.belongs_to_collection.str.lower()## Normalize the string to lower case
C:\Users\angeo\AppData\Local\Temp\ipykernel_12296\1971071609.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  franquicia1.dropna(subset=["belongs_to_collection"],inplace=True)

In [43]:
frank=pd.read_csv("Dataset_API/API3.csv")## Dataset API function 3 review
frank

,belongs_to_collection,title,revenue
0,toy story collection,Toy Story,373554033.0
1,grumpy old men collection,Grumpier Old Men,0.0
2,father of the bride collection,Father of the Bride Part II,76578911.0
3,james bond collection,GoldenEye,352194034.0
4,balto collection,Balto,11348324.0
...,...,...,...
4484,the carry on collection,Carry On Follow That Camel,0.0
4485,the carry on collection,Carry On Camping,0.0
4486,the carry on collection,Carry On England,0.0
4487,dc super hero girls collection,LEGO DC Super Hero Girls: Brain Drain,0.0
4488,red lotus collection,The Twin Swords,0.0

In [45]:
def franquicia(franquiciax):## Api function 3
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    if isinstance(franquiciax,str):##parameter condition string
        franquiciax = franquiciax.lower()## parameter sting to lower
        franquiciax = unicodedata.normalize('NFKD', franquiciax).encode(
            'ascii', 'ignore').decode('utf-8', 'ignore')## filter accent mark
        ganancias = franquicia1["revenue"][franquicia1["belongs_to_collection"].str.contains(franquiciax)==True]## filter dataset with the parameter
        if ganancias.empty==True:## condition if dataset is empty
            respuesta1= "No data available"
            respuesta2= "No data available"
            respuesta3= "No data available"
        else:
            respuesta1=ganancias.shape[0]
            respuesta2=ganancias.sum()
            respuesta3=ganancias.mean()

    return {'franquicia': franquiciax, 'cantidad': respuesta1, 'ganancia_total': respuesta2, 'ganancia_promedio': respuesta3}

In [46]:
franquicia("Toy Story Collection")## testing functionality with an argument

{'franquicia': 'toy story collection',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

### API function 4

#### Enter the country, returning the number of films produced in the same

In [49]:
paises=df[["title","production_countries"]]## Getting a new dataset only with needed columns
paises["production_countries"] = paises["production_countries"].str.lower()## Normalize the string to lower case
paises.to_csv("Dataset_API/API4.csv",index=False)##Export the dataset for API function 4

C:\Users\angeo\AppData\Local\Temp\ipykernel_12296\1726788140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paises["production_countries"] = paises["production_countries"].str.lower()## Normalize the string to lower case

In [50]:
paises=pd.read_csv("Dataset_API/API4.csv")## Dataset API function 4 review
paises

,title,production_countries
0,Toy Story,['united states of america']
1,Jumanji,['united states of america']
2,Grumpier Old Men,['united states of america']
3,Waiting to Exhale,['united states of america']
4,Father of the Bride Part II,['united states of america']
...,...,...
45374,Robin Hood,"['canada', 'germany', 'united kingdom', 'unite..."
45375,Century of Birthing,['philippines']
45376,Betrayal,['united states of america']
45377,Satan Triumphant,['russia']
45378,Queerama,['united kingdom']

In [51]:
def peliculas_pais(pais):## Api function 4
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    if isinstance(pais, str):##parameter condition string
        pais = pais.lower()## parameter sting to lower
        pais = unicodedata.normalize('NFKD', pais).encode(
            'ascii', 'ignore').decode('utf-8', 'ignore')## filter accent mark
        ganancias = paises["title"][paises["production_countries"].str.contains(pais+"'") == True]## filter dataset with the parameter
        if ganancias.empty==True:## condition if dataset is empty
            respuesta1= "No data available"
        else:
            respuesta1 = ganancias.shape[0]
        
    return {'pais': pais, 'cantidad': respuesta1}

In [52]:
peliculas_pais("Philippines")## testing functionality with an argument

{'pais': 'philippines', 'cantidad': 83}

### API function 5

#### You enter the production company, returning the total profit and the number of movies they produced

In [53]:
productoras1=df[["title","production_companies","revenue"]]## Getting a new dataset only with needed columns
productoras1["production_companies"]=productoras1["production_companies"].str.lower()## Normalize the string to lower case
productoras1.to_csv("Dataset_API/API5.csv",index=False)##Export the dataset for API function 5

C:\Users\angeo\AppData\Local\Temp\ipykernel_12296\134239939.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  productoras1["production_companies"]=productoras1["production_companies"].str.lower()## Normalize the string to lower case

In [54]:
productoras1=pd.read_csv("Dataset_API/API5.csv")## Dataset API function 5 review
productoras1

,title,production_companies,revenue
0,Toy Story,['pixar animation studios'],373554033.0
1,Jumanji,"['tristar pictures', 'teitler film', 'intersco...",262797249.0
2,Grumpier Old Men,"['warner bros.', 'lancaster gate']",0.0
3,Waiting to Exhale,['twentieth century fox film corporation'],81452156.0
4,Father of the Bride Part II,"['sandollar productions', 'touchstone pictures']",76578911.0
...,...,...,...
45374,Robin Hood,"['westdeutscher rundfunk (wdr)', 'working titl...",0.0
45375,Century of Birthing,['sine olivia'],0.0
45376,Betrayal,['american world pictures'],0.0
45377,Satan Triumphant,['yermoliev'],0.0
45378,Queerama,NaN,0.0

In [55]:
def productoras(productora):## Api function 5
    '''Ingresas la productora, retornando la ganancia toal y la cantidad de peliculas que produjeron'''
    if isinstance(productora, str):##parameter condition string
        productora = productora.lower()## parameter sting to lower
        productora = unicodedata.normalize('NFKD', productora).encode(
            'ascii', 'ignore').decode('utf-8', 'ignore')## filter accent mark
        ganancias = productoras1["revenue"][productoras1["production_companies"].str.contains(
            productora+"'") == True]## filter dataset with the parameter
        if ganancias.empty==True:## condition if dataset is empty
            respuesta1= "No data available"
            respuesta2= "No data available"
        else:
            respuesta2 = ganancias.shape[0]
            respuesta1=  ganancias.sum()
    return {'productora': productora, 'ganancia_total': respuesta1, 'cantidad': respuesta2}

In [57]:
productoras("Pixar Animation Studios")## testing functionality with an argument

{'productora': 'pixar animation studios',
 'ganancia_total': 11188533734.0,
 'cantidad': 52}

### API function 6

#### You enter the movie, returning the investment, the profit, the return and the year in which it was released

In [59]:
retornos=df[["title","revenue","budget","return","release_year"]]## Getting a new dataset only with needed columns
retornos.title=retornos.title.str.lower()## Normalize the string to lower case
retornos.to_csv("Dataset_API/API6.csv",index=False)##Export the dataset for API function 6

C:\Users\angeo\AppData\Local\Temp\ipykernel_12296\420263252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retornos.title=retornos.title.str.lower()## Normalize the string to lower case

In [60]:
retornos=pd.read_csv("Dataset_API/API6.csv")#### Dataset API function 6 review
retornos

,title,revenue,budget,return,release_year
0,toy story,373554033.0,30000000.0,12.451801,1995
1,jumanji,262797249.0,65000000.0,4.043035,1995
2,grumpier old men,0.0,0.0,0.000000,1995
3,waiting to exhale,81452156.0,16000000.0,5.090760,1995
4,father of the bride part ii,76578911.0,0.0,0.000000,1995
...,...,...,...,...,...
45374,robin hood,0.0,0.0,0.000000,1991
45375,century of birthing,0.0,0.0,0.000000,2011
45376,betrayal,0.0,0.0,0.000000,2003
45377,satan triumphant,0.0,0.0,0.000000,1917
45378,queerama,0.0,0.0,0.000000,2017

In [61]:
def retorno(pelicula):## Api function 6
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo'''
    if isinstance(pelicula, str):##parameter condition string
        pelicula = pelicula.lower()## parameter sting to lower
        pelicula = unicodedata.normalize('NFKD', pelicula).encode('ascii', 'ignore').decode('utf-8', 'ignore')## filter accent mark
        ganancias = retornos[retornos["title"]==pelicula]## filter dataset with the parameter
        
        if ganancias.empty==True:## condition if dataset is empty
            nombre=pelicula
            respuesta1= "No data available"
            respuesta2= "No data available"
            respuesta3= "No data available"
            respuesta4= "No data available"
        else:
            nombre=ganancias.title.values.tolist()
            respuesta1 = ganancias.budget.values.tolist()
            respuesta2 = ganancias.revenue.values.tolist()
            respuesta3 = ganancias["return"].values.tolist()
            respuesta4 = ganancias["release_year"].values.tolist()
    return {'pelicula': nombre, 'inversion': respuesta1, 'ganacia': respuesta2, 'retorno': respuesta3, 'anio': respuesta4}

In [63]:
retorno('robin hood')## testing functionality with an argument

{'pelicula': ['robin hood', 'robin hood', 'robin hood', 'robin hood'],
 'inversion': [15000000.0, 0.0, 200000000.0, 0.0],
 'ganacia': [32056467.0, 0.0, 310669540.0, 0.0],
 'retorno': [2.1370978, 0.0, 1.5533477, 0.0],
 'anio': [1973, 1922, 2010, 1991]}

In [11]:

# ML

def recomendacion(titulo):
    '''Ingresas un nombre de pelicula y te recomienda las similares en una lista'''
    return {'lista recomendada': respuesta}